body {
    background-image: url('../Images/background.png');
    background-repeat: no-repeat;
    background-color: #281847;
    background-attachment: scroll;
    background-size: cover;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
nav {
    background-color: #F1971D;
    background-image: url('../Images/background_nav.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 80px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 50px;}
nav .button {
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 15px;
    border: 5px solid rgba(255, 255, 255, 0.35);
    border-radius: 30px;
    font-size: 15px;
    cursor: pointer;}
nav .button:hover {background-color: rgba(255, 255, 255, 0.35);color: black;}
nav button {
    background-color: rgba(255, 255, 255, 0.3);
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 15px;
    border: 5px solid rgba(0, 0, 0, 0.35);
    border-radius: 30px;
    font-size: 15px;
}
article {
    border-radius: 30px;
    background-color: lightblue;
    background-image: url('../Images/background_article.jpg');
    background-size: cover;
    margin: 80px;
    display: flex;
    align-items: center;
    padding: 30px;
}
article .skill-box {
    padding: 0px 5px 0px 5px;
    width: 25%;
    text-align: center;
}
article .skill-box h2{
    width: min-content;
    margin: auto;
    text-align: center;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.35);
    padding-left: 15px;
    padding-right: 15px;
}
article .skill-box ul {
    border: 1px solid black;
    margin: 0;
    margin-top: 10px;
    text-align: left;
}
article .skill-box ul li {
    background-color: rgba(255, 255, 255, 0.35);
    padding-left: 5px;
    padding-right: 5px;
}
article .skill-box h1 {
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.35);
    padding-left: 10px;
    padding-right: 10px;
}