article {
    border-radius: 30px;
    background-color: lightblue;
    background-image: url('../Images/background_article.jpg');
    background-size: cover;
    margin: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;}
article section h1 {
    font-size: 40px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.35);
    padding-left: 10px;
    padding-right: 10px;
    margin: 20px 20px 10px 20px;
}
article section h2 {
    font-size: 25px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.35);
    padding-left: 10px;
    padding-right: 10px;
    margin: 20px 15% 10px 15%;
    width: 70%;
    text-align: center;
}