article {
    border-radius: 30px;
    background-color: lightblue;
    background-image: url('../Images/background_article.jpg');
    background-size: cover;}
.un {
    margin-top: 80px;
    margin-left: 17%;
    margin-right: 17%;
}
.deux {
    margin: 80px;
    display: flex;
    align-items: center;
    padding: 30px;}
article .citation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;}
article .citation h2 {
    font-size: 40px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.35);
    padding-left: 10px;
    padding-right: 10px;
    margin: 20px 20px 10px 20px;}
article .citation h3 {
    font-size: 25px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.35);
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px 20px 20px 20px;}
/* article .citation h4 {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.35);
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px; } */
article .photo {
    height: 70%;
    width: 20%;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.35);
}
article section img {
    height: 100%;
    width: 100%;
}
.deux .texte_présentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    width: 100%;
}
.deux .texte_présentation h2 {
    font-size: 30px;
    border-radius: 30px; 
    background-color: rgba(255, 255, 255, 0.35); 
    padding-left: 10px; 
    padding-right: 10px;
    margin: 10px 30px 10px 30px;
}
.deux .texte_présentation h3 {
    font-size: 20px;
    border-radius: 30px; 
    background-color: rgba(255, 255, 255, 0.35); 
    padding-left: 10px; 
    padding-right: 10px;
    margin: 10px 30px 10px 30px;
}