article {
    border-radius: 30px;
    background-color: lightblue;
    background-image: url('../Images/background_article.jpg');
    background-size: cover;
    margin: 80px auto 80px auto;
    width: 60%;
    display: flex;
    align-items: center;
    padding: 30px;
}
article .first {
    margin: auto;
    padding: 0px 5px 0px 5px;
    text-align: center;
}
article .first ul {
    border: 1px solid black;
    margin: 0;
    margin-top: 10px;
    text-align: left;
}
article .first ul li {
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.35);
    padding-left: 5px;
    padding-right: 5px;
}
article .first h2 {
    font-size: 35px;
    margin: auto;
    width: fit-content;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.35);
    padding-left: 10px;
    padding-right: 10px;
}